*{
    font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}


body {
    background-color: #fbf9f1;
    font-family: 'Nunito',sans-serif;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 7%;
    font-family: 'Nunito',sans-serif;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #f6e6cb;
}

.navbar .logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.navbar .navbar-nav a{
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    color: black;
    margin: 0 1rem;
    margin-top: 1rem;
}

.navbar .navbar-nav a:hover {
    color: darkslategrey;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid  ;
    color: darkslategrey;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: black;
    margin: 0 1rem;
    margin-top: 1rem;
}

.navbar .navbar-extra a:hover {
    color: darkslategrey;
}

/* Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 6%;
    width: 40rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
}

/* Shopping */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: #fff;
    color: black;
    transition: 0.3s;
  }

  .shopping-cart.active {
    right: 0;
  }

  .shopping-cart img {
    height: 6rem;
    border-radius: 50%;
  }
   
  .shopping-cart .shop-footer {
    position: absolute;
    bottom: 120px;
    width: 88%;
  }
  .shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
  }
  
  .shopping-cart img {
    height: 6rem;
    border-radius: 50%;
  }
  
  .shopping-cart h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }
  
  .shopping-cart .item-price {
    font-size: 1.2rem;
  }
  
  .shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 10px;
  }

  .check-btn {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    background: #f6e6cb;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
  }
  



/* Slider */

.banner {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    bottom: 0;
}

  .slider {
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.slides {
 display: flex;
 width: 100%;
height: 100%;
transition: transform 0.5s ease-in-out;
}

.slide {
min-width: 100%;
height: 100%;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;
}
/* Slider End */

/* Product Display */

#product-list {
  margin-top: 5rem;
  margin-bottom: 0;
}

.heading {
    font-size: 3.5rem;
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.heading span {
  display: inline-block;
  background: #f6e6cb;
  color: black;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.heading-product {
  font-size: 3.5rem;
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.pro-about {
    width:60%;
    padding: 10px 12px;
    border: 10px solid #f6e6cb;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    display:inline-block;
    align-items: center;
    margin-bottom: 4rem;
}



.heading-product span {
  display: inline-block;
  background: #f6e6cb;
  color: black;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

#product-list{
  text-align: center;
}

#product-list .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#product-list .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 10px solid #f6e6cb;
  border-radius: 25px;
  margin: 1.3rem;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
  position: relative;
}

#product-list .pro:hover {
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.6);
}

#product-list .pro img {
  width: 100%;
  height: 70%;
  border-radius: 25px;

}

#product-list .pro .des {
  text-align: start;
  align-items: center;
  padding: 10px 0; 
}

#product-list .pro .des h5 {
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-top: 7px;
  color: black;
}

#product-list .pro .des h4 {
  font-size: 12px;
  color: black;
  padding-top:7px ;
}

#product-list .pro .cart {
width: 40px;
height: 40px;
font-weight: 600;
color: black;
position: absolute;
bottom: 10px;
right: 10px;

}

#new-arrival {
  text-align: center;
}

#new-arrival .pro-container {
   display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#new-arrival .pro {
  width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 10px solid #f6e6cb;
    border-radius: 25px;
    margin: 2rem;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    position: relative;
}

#new-arrival .pro:hover {
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.6);
}

#new-arrival .pro img {
  width: 100%;
    height: 70%;
    border-radius: 25px;
}

#new-arrival .pro .des {
  text-align: start;
  align-items: center;
  padding: 10px 0; 
}

#new-arrival .pro .des h5 {
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-top: 7px;
  color: black;
}

#new-arrival .pro .des h4 {
font-size: 12px;
color: black;
padding-top:7px ;
}

#new-arrival .pro .cart {
width: 40px;
height: 40px;
font-weight: 600;
color: black;
position: absolute;
bottom: 10px;
right: 10px;
}



#product-list h3 {
  justify-content: left;
}

/* Flash Sale */

#flash-sale {
    text-align: center;
}

#flash-sale .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#flash-sale .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 10px solid #f6e6cb;
    border-radius: 25px;
    margin: 2rem;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    position: relative;
}

#flash-sale .pro:hover {
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.6);
}


#flash-sale .pro img {
    width: 100%;
    height: 70%;
    border-radius: 25px;

}

#flash-sale .pro .des {
    text-align: start;
    align-items: center;
    padding: 10px 0; 
}

#flash-sale .pro .des h5 {
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-top: 7px;
    color: black;
}

#flash-sale .pro .des h4 {
  font-size: 12px;
  color: black;
  padding-top:7px ;
}

#flash-sale .pro .cart {
 width: 40px;
 height: 40px;
 font-weight: 600;
 color: black;
 position: absolute;
 bottom: 10px;
 right: 10px;
 
}
/* End */

/* Product */
.recommendation .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
  }
  
  .recommendation .box-container .box {
    padding: 3rem 2rem;
    background: #f6e6cb;
    outline: #1a1a1d;
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .recommendation .box-container .box:hover {
    outline: 3px solid black;
    outline-offset: -1rem;
  }

  .recommendation .box-container .box .btn {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #6c4e31;
    padding: 1em 4rem;
    border-radius: 5px;
    margin: 1rem 0;
    transition: 0.3s;
  }

  .recommendation .box-container .box h3 {
    font-size: 20px;
    padding: 16px;
    margin-top: 1rem;
  }

 .box img {
    width: 80px;
    height: 80px;
    object-fit: contain;
 }
  

/* Footer */
.container{
    max-width: 1170px;
    margin: auto;
}
.footer{
    background: #f6e6cb;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #ffc500;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 6px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #f6e6cb;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all .5s ease;

}
.footer-col .social-links a:hover{
    color: black;
    background: #24262b;
}
  

